# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://TU_PROYECTO.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=TU_ANON_KEY

# Registraduría (solo en servidor — para el proxy)
REGISTRADURIA_USER=TU_USUARIO
REGISTRADURIA_PASS=TU_PASSWORD
